   <app-message *ngIf="activeMessage" [message]="message" [ok]= "ok"></app-message>
    <div>
      <form [formGroup]="myForm" (ngSubmit)="login()" class="p-3">

        <div class="form-control">
          <label class="form-label" for="username">Usuario:</label>
          <input type="text" class="form-input" formControlName="username"  name="username" placeholder="Introduce tu nombre de usuario">
          <span *ngIf="validFields('username')" class="form-error">El usuario no puede quedar vacio</span>
        </div>

        <div class="form-control">
          <label class="form-label" for="password">Contraseña:</label>
          <input type="password" class="form-input" formControlName="password"  name="password" placeholder="Introduce tu contraseña">
          <span *ngIf="validFields('password')" class="form-error">La contraseña no puede quedar vacio</span>
        </div>
        
        <app-loading [loading]="loading"></app-loading>
       <div *ngIf="activeAccount" class="text-center my-4">
         <a routerLink="../resend-email" class=" px-2 py-2 cursor-pointer font-medium bg-indigo-600 text-gray-50 rounded hover:bg-indigo-400">Reenviar email</a>
       </div>

        <div class="form-control">
          <button class="form-submit"  [disabled]="loading">Iniciar sesion</button>
        </div>

      </form>
    </div>

    <div class="w-full text-center my-3">
      <a routerLink="../forgot-password" class="font-semibold text-indigo-600">¿Olvide mi contraseña?</a>
    </div>
    <div class="w-full p-3">
      <button routerLink="../registro" class="form-submit "> Registrarse</button>
    </div>
