 .form-control{
   @apply w-full my-2 flex flex-col
 }

 .form-label {
   @apply font-bold;
   @apply text-indigo-600;
 }

 .form-input {
   @apply appearance-none border border-transparent my-1 border-gray-300 rounded px-3 py-1 
   text-gray-800 font-medium shadow
 }

 .form-input:focus {
  @apply  outline-none ring-1 ring-indigo-600  border border-indigo-600
}

.form-error{
  @apply text-sm text-red-500 font-medium
}

.form-submit{
  @apply bg-indigo-600 text-gray-50 py-1 font-semibold w-full
}

.form-submit:hover{
  @apply bg-indigo-500 
}

.form-submit:disabled{
  @apply opacity-50 bg-indigo-500 cursor-not-allowed
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  @apply bg-indigo-600
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

