<aside class="flex flex-col justify-center p-5 space-y-4" >
    <div class="w-full border border-gray-200 rounded-none text-center">
        <h3 class="bg-gray-100 font-bold text-2xl py-3 text-gray-800">Porcentaje Total</h3>
        <div class="my-3">
            <p class="text-5xl text-gray-800 font-thin">{{totalPercentComplete}}%</p>
        </div>
    </div>
    <div class="w-full border border-gray-200 rounded-none text-center">
        <h3 class="bg-gray-100 font-bold text-2xl py-3 text-gray-800">Nota Media</h3>
        <div class="my-3"> 
            <p class="text-5xl text-gray-800 font-thin">{{meanScore}}</p>
        </div>
    </div>
    <div class="w-full border border-gray-200 rounded-none text-center">
        <h3 class="bg-gray-100 font-bold text-2xl py-3 text-gray-800">Nota Ganada</h3>
        <div class="my-3">
            <p class="text-5xl text-gray-800 font-thin">{{totalScore}}</p>
        </div>
    </div>
</aside>
