


<app-message *ngIf="activeMessage" [message]="message" [ok]= "ok"></app-message>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="activeMessage">
  <div *ngIf="!activatedAccount" class="w-full flex p-3 justify-center items-center mt-2">
    <a  [routerLink]="['/auth/resend-email']" class="form-submit">Reenviar</a>
  </div>
  <div class="w-full flex p-3 justify-center items-center mt-2">
    <a [routerLink]="['/auth/login']" class="text-indigo-600 font-semibold">Regresar</a>
  </div>
</div>

