
    <app-message *ngIf="activeMessage" [message]="message" [ok]= "ok"></app-message>
    <div>
      <form [formGroup]="myForm" (ngSubmit)="registration()" class="p-3">
        <div class="flex flex-col sm:flex-row">

          <div class="flex-1 px-1">

            <div class="form-control">
              <label class="form-label" for="name">Nombre:</label>
              <input type="text" class="form-input" formControlName="name" name="name"
                placeholder="Introduce tu nombre">
              <span *ngIf="validFields('name')" class="form-error">El nombre no puede quedar vacio</span>
            </div>

              <div class="form-control">
                <label class="form-label" for="lastname">Apellido:</label>
                <input type="text" class="form-input" formControlName="lastname" name="lastname"
                  placeholder="Introduce tu apellido">
                <span *ngIf="validFields('lastname')" class="form-error">El apellido no puede quedar vacio</span>
              </div>

            <div class="form-control flex justify-center ">
              <label class="form-label mt-2" for="birthdate">Fecha de nacimiento:</label>
              <input type="date" class="form-input " formControlName="birthdate" name="birthdate">
              <span *ngIf="validFields('birthdate')" class="form-error">{{birthdateErrorMessage()}}</span>
            </div> 
            <div class="form-control">
                <label class="form-label mt-2" for="gender">Genero:</label>
                <div class="flex flex-nowrap h-full my-2 ">
                    <div class="flex-1 flex items-center justify-center">
                        <input type="radio" class="form-radio" formControlName="gender" name="gender" value="M">
                        <label class="form-radio-label">Masculino</label>
                    </div>
            
                    <div class="flex-1 flex items-center justify-center">
                        <input type="radio" class="form-radio" formControlName="gender" name="gender" value="F">
                        <label class="form-radio-label">Femenino</label>
                    </div>
                    
                </div>  
                <span *ngIf="validFields('gender')" class="form-error">El genero no puede quedar vacio</span>
              </div>

          </div>
          <div class="flex-1 px-1">
            <div class="form-control">
              <label class="form-label" for="username">Usuario:</label>
              <input type="text" class="form-input" formControlName="username" name="username"
                placeholder="Introduce tu nombre de usuario">
              <span *ngIf="validFields('username')" class="form-error">{{UserErrorMessage('username')}}</span>
  
              <div class="form-control">
                <label class="form-label" for="password">Contraseña:</label>
                <input type="password" class="form-input" formControlName="password" name="password"
                  placeholder="Introduce tu contraseña">
                <span *ngIf="validFields('password')" class="form-error">{{UserErrorMessage('password')}}</span>
              </div>
  
              <div class="form-control">
                  <label class="form-label" for="email">Email:</label>
                  <input type="email" class="form-input" formControlName="email" name="email"
                    placeholder="Introduce tu contraseña">
                  <span *ngIf="validFields('email')" class="form-error">{{emailErrorMessage()}}</span>
                </div>
            </div>

            <div class="form-control">
                <label class="form-label" for="career">Carrera:</label>
                <select class="form-input" formControlName="career">
                    <option value="">  -- Seleccionar Carrera -- </option>
                    <option *ngFor="let career of careers" value="{{career.id}}">{{career.career}}</option>
                </select>
                <span *ngIf="validFields('career')" class="form-error">La carrera no puede quedar vacia</span>
              </div>
          </div>
        </div>
    
        <app-loading [loading]="loading"></app-loading>
        
        <div class="form-control justify-center items-center mt-2 ">
          <button class="form-submit">Registrarse</button>
        </div>
      </form>
    </div>
    <div class="flex justify-center items-center px-2">
      <hr class="border flex-1 border-indigo-400">
      <span class="m-3 text-gray-800 text-lg">¿Ya posee cuenta?</span>
      <hr class="flex-1 border border-indigo-400">

    </div>
    <div class="w-full flex p-3 justify-center items-center mt-2">
      <button routerLink="../login" class="form-submit w-1/2" [disabled]="loading">Iniciar sesion</button>
    </div>
